{:deps {buddy/buddy-core {:mvn/version "1.10.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.887"}}}
           :build {:extra-deps {io.github.seancorfield/build-clj {:git/tag "v0.1.2" :git/sha "0719a09"}}
                   :ns-default build}}}
